@import "mixins";

$primary: #724aa0 !default;
$secondary: #7e4f4f !default;
$default: #fff;
$black-bg: #292929;
$black-bg-light: #303030;
$black-bg-dark: #202020;
$grey-bg: #b9b9b9;
$font-color: #ffffff;
$font-color-light: #ccc;
$font-dark: #444444;
$red-bg: #fd3347;

$info: #4da1ff !default;
$success: #90b900 !default;
$warning: #f5a623 !default;
$danger: #ff6d4a !default;

$violet: #a46497 !default;
$white: #ffffff !default;
$black: #000000 !default;
$green: #84a576;
$green-dark: #77a464;

$disabled: #dddddd;
$disabled-bg: tint($disabled, 15%);
$border: #d6d6d6;
$border-light: tint($border, 15%);
$border-ultra-light: #ebeced;
$input-border: shade($border, 5%);
$input-background: #ffffff;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$instagram-color: #9b5bb5;
$zomato-color: #cb202d;
$tripadvisor-color: #00af87;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$youtube-color: #f61c0d;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$primary-bg-light: #fddee1;
$warning-bg-light: #ffdfab;
$success-bg-light: #e6f3bb;
$info-bg-light: #cfe5fd;
$danger-bg-light: #fbd3ca;
$violet-bg-light: #dbcaf5;
$green-bg-light: #c4facc;

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);
$violet-bg: tint($violet, 20%);
$green-bg: tint($green, 20%);

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);
$violet-light: tint($violet, 30%);
$green-light: tint($green, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);
$violet-dark: shade($violet, 15%);
$green-dark: shade($green, 15%);
