@import "../../data/assets/style/style_import";

@media only screen and (max-width: 767px) {
    .appNavbarContainer {
        .mobileHidden {
            display: none !important;
        }

        .desktopHidden {
            display: block !important;
        }

        .setBrandIcon {
            max-width: 120px !important;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .appNavbarContainer {
        .setBrandIcon {
            max-width: 120px !important;
        }
    }
}

.appNavbarContainer {
    z-index: 10;
    width: 100vw;
    padding: 5px 0;
    font-family: $font-family-secondary;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: $black-bg-light;
    -webkit-box-shadow: inset 12px 0px 100px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 12px 0px 100px 2px rgba(0, 0, 0, 1);
    box-shadow: inset 12px 0px 100px 2px rgba(0, 0, 0, 1);

    .desktopHidden {
        display: none;
    }

    .setBrandIcon {
        max-width: 135px;
        max-height: 50px;
    }

    .navItem {
        padding: 15px;
        cursor: pointer;
        color: $font-color-light !important;
        font-size: 16px;

        &:hover, &.active {
            color: $primary !important;
        }

        a {
            color: $font-color-light !important;

            &:hover, &.active {
                color: $primary !important;
            }
        }

        .ant-badge {
            position: absolute;
            top: 15px;
            right: 10px;
        }
    }

    .ant-dropdown-link {
        padding: 15px;
        border-right: solid 1px rgba(255, 255, 255, 0.5);
    }

    .navItemAlign {
        ul {
            list-style-type: none;

            li {
                @include lr-padding(15px);

                display: inline-block;
                border-bottom: 3px solid transparent;
            }

            .navItem {
                a {
                    line-height: 52px;
                    color: $font-color-light;

                    .badgeAlign {
                        .ant-badge-count {
                            @include lr-padding(4px);

                            background-color: $green;
                            font-size: 11px;
                            top: -15px;
                        }
                    }
                }

                &:hover {
                    .icon {
                        color: $primary;
                    }

                    .title {
                        color: $black;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .activeItem {
        .icon {
            color: $primary;
        }

        .title {
            color: $black;
            opacity: 0.8;
            font-weight: $font-medium;
        }
    }

    .activeBorder {
        border-bottom: 3px solid $primary !important;
    }

    .fixedAvatar {
        .ant-dropdown-link {
            display: flex !important;
        }
    }
}



.navbarDropdownMenuContainer {
    padding-top: 8px;

    .ant-menu {
        .ant-menu-item {
            color: $font-color-light !important;

            &:hover {
                span {
                    color: $primary;
                }
            }

            &.ant-menu-item-selected {
                background-color: $primary !important;
                span {
                    color: $black-bg !important;
                }
            }
        }
    }
}
